<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Profile</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            
            <ul class="navbar-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/goals">My Goals</a></li>
                <li><a href="/profile">Profile</a></li>
                <a href="/" class="signout">Sign Out</a>
            </ul>
        </div>
    </nav>

    <h1>Your Profile</h1>
    <p>Welcome to your profile page!</p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <footer class="footer">
        <p>Website created by: Becky O. K. Dare © 2024</p>
    </footer>
</body>
</html>